body {
    background-color: #FFE3DA;
    text-align: center;
    font: 15px 'Lucida Grande';
    margin: 0 auto;
}

h1 {
    font: 2.5rem 'Palatino';
    color: #296EB4;
}

p {
    text-align: left;
}

header {
    /*    margin: 0 auto;*/
    background-color: #F2F2F2;
}

img {
    width: 20%;
    height: auto;
}

figure {
    margin-bottom: 2rem;
}

form {
/*    text-align: left;*/
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-bottom: 1rem;
}

textarea {
    margin-bottom: 1rem;
    resize: none;
    width: 100%;
    max-width: 380px;
}

input:focus {
    border: 3px solid #555;
}

textarea:focus {
    border: 3px solid #555;
}

h5 {
    margin-top: 2rem;
    text-align: center;
}

.contact {
    border-style: solid;
    border-color: #296EB4;
    background-color: #F2F2F2;
    padding-top: 1.5rem;
    width: 70%;
    min-width: 310px;
}

.snippetNum {
    margin-bottom: 1rem;
}

.portfolioInfo {
    margin-top: 2rem;
    text-align: center;
}

.coursesTaken {
    text-align:center;
}

.aboutmephoto {
    width: 25%;
    min-width: 10rem;
    height: auto;
}

.projectText {
    text-align:center;
    padding-left: 1rem;
    padding-right: 1rem;
}

.projects {
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-style: solid;
    border-color: #296EB4;
    background-color: #F2F2F2;
    width: 70%;
    min-width: 310px;
}

.project {
  /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60%;
    min-width: 290px;
    height: 5rem;
    margin-bottom: 1rem;
    font-family: 'Palatino';
    font-size: 1rem;
    font-weight: bold;
    line-height: 5rem;
    background-color: #C4C4C4;
    color: #296EB4;
}

.projectText {
    text-align: center;
}

/* On mouse-over, add a deeper shadow */
.project:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.slideshow {
    margin-bottom: 1rem;
}

.mySlides {
    text-align: center;
}

.projectLinks {
    color: #296EB4;
    text-decoration: underline;
}

.projectLinks:hover {
    color: #A68EF6;
    text-decoration: underline;
}

.projectBullet {
    margin-bottom: 1rem;
}

.projectList {
    text-align: left;
    list-style-type: circle;
    line-height: 150%;
    margin-bottom: 4rem;
}

.codeImage {
    width: 75%;
    min-width: 20rem;
    min-height: 20rem;
    height: auto;
    margin-bottom: 2rem;
}

.subheader {
    background-color: #C4C4C4;
    border: 2px solid #000000;
}

.view {
    text-align: center;
}

.content {
    margin: 5%;
    text-align: center;
}

/*Sidebar CSS*/

.navBarPara {
    text-align: center;
    font-size: 1.25rem;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: 2px solid #000000;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: #C4C4C4;
    color: #000000;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background-color: #C4C4C4;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #000000;
}

#sidebar ul p {
    color: #000000;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #93A5AC;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

/*
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
*/

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#dismiss {
    display: none;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 250px);
    }

    #sidebarCollapse span {
        display: none;
    }
    
    .projects {
        width: 90%;
    }
    
    .project {
        width: 80%;
    }
}

@media screen and (max-width: 700px) {
@media screen and (max-width: 700px) {
    .wrapper {
        display: block;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        /* top layer */
        z-index: 9999;
    }

    .overlay {
        display: none;
        position: fixed;
        /* full screen */
        width: 100vw;
        height: 100vh;
        /* transparent black */
        background: rgba(0, 0, 0, 0.7);
        /* middle layer, i.e. appears below the sidebar */
        z-index: 998;
        opacity: 0;
        /* animate the transition */
        transition: all 0.5s ease-in-out;
    }

    /* display .overlay when it has the .active class */
    .overlay.active {
        display: block;
        opacity: 1;
    }

    #dismiss {
        display: show;
        width: 35px;
        height: 35px;
        position: absolute;
        /* top right corner of the sidebar */
        top: 10px;
        right: 10px;
    }
}
